    <div class="login-container">
      <mat-card class="login-card">
        
        <img mat-card-image src="assets/slogo.png" alt="Login Image" class="login-image">
    
        <mat-card-title class="login-title">DeliWeb</mat-card-title>
    
        <mat-card-content>
          <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
            <mat-form-field appearance="fill" class="full-width">
              <input matInput [(ngModel)]="username" name="username" placeholder="Ingresa tu usuario" required>
              <mat-error *ngIf="loginForm.submitted && loginForm.controls['username']?.invalid">El usuario es requerido</mat-error>  
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="full-width">
              <input matInput [(ngModel)]="password" placeholder="Ingresa tu contrasena" name="password" type="password" required>
              <mat-error *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid">La contraseña es requerida</mat-error>
            </mat-form-field>
            
            <button mat-raised-button color="primary" type="submit" class="full-width">Ingresar</button>
          </form>

          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    

        </mat-card-content>
        <mat-card-actions class="card-actions">
          <a class="create-account-link" href="/register">Crear una nueva cuenta</a>
        </mat-card-actions>
      </mat-card>
    </div>
