mat-toolbar {
  background-color: #336ff4;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .spacer {
    flex: 1;
  }

  nav {
    button {
      background-color: white;
      color: #336ff4;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin: 0 5px;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
