<div class="registro-container">
  <mat-card class="registro-card">

    <img mat-card-image src="assets/slogo.png" alt="registro Image" class="registro-image">

    <mat-card-title class="registro-title">Registro de Usuario</mat-card-title>
    
    <form (ngSubmit)="registrar()" class="login-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput [(ngModel)]="username" name="username" placeholder="Nombre de usuario" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput [(ngModel)]="direccionUsuario" name="direccionUsuario" placeholder="Dirección" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="telefonoUsuario" name="telefonoUsuario" placeholder="Teléfono" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Registrarse</button>
    </form>
  </mat-card>
</div>
